* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100vh;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
}
.coconut-tree {
  display: flex;
  transform: translateY(20px);
}
.coconut-tree img {
  width: 400px;
  margin-inline: 5px;
  transition: all 1s;
}
.btn-undo img {
  width: 80px;
}
.btn-undo {
  width: 100px;
}