* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "Bevan", serif;
}
html,
body {
  width: 100%;
  height: 100vh;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
}
.coconut-tree {
  display: flex;
  transform: translateY(20px);
}
.coconut-tree img {
  width: 400px;
  margin-inline: 5px;
  transition: all 1s;
}
.btn-undo img {
  width: 80px;
}
.btn-undo {
  width: 100px;
  background: transparent;
  border: none;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
}
.nama-user {
  width: 250px;
  height: 100px;
  background-size: contain;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
  color: #e7a84e;
  font-size: 20px;
}
.nama-user p {
  width: 72%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alert {
  background-size: 100%;
  background-image: url(./assets/board/papan-aksi.png);
  width: 360px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideIn 1s forwards;
}
@keyframes slideIn {
  from{
    transform: translateY(-500px);
  } to{
    transform: translate(0);
  }
}
@keyframes slideOut {
  from{
    transform: translate(0);
  } to{
    transform: translateY(-500px);
  }
}

.alert p {
  width: 220px;
  text-align: center;
  color: white;
  -webkit-text-stroke: 0.2px #734300;
}
.wrap-alert {
  position: absolute;
  z-index: 2;
  transition: all 1s;
  transform: scale(0);
  width: 100%;
  height: 100%;
  background-color: #0000007d;
  backdrop-filter: blur(5px);
  opacity: 0;
}
.wrap-alert button {
  background: transparent;
  border: none;
  position: absolute;
  right: 60px;
  bottom: -20px;
}
.wrap-alert button img {
  width: 65px;
}
audio{
  display: none;
}