*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100vh; 
}
body {
  background-image: url(./assets/image/bg-index.png);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.loading{
  width: 300px;
  height: 300px; 
  background-image: url(./assets/image/loading.gif);
  animation: loading 0.5s 4s forwards;
}
@keyframes loading {
  0%{
    transform: scale(1);
    opacity: 1;

  }
  100%{
    opacity: 0;
    transform: scale(0.5);
  }
}
.button-play{
  width: 250px;
  height: 250px; 
  animation: play 0.5s;
  background-image: url(./assets/image/button-play.png);
}
@keyframes play {
  0%{
    opacity: 0;
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeOut{
  from{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  to{
    transform: scale(0);
  }
}