body {
  background-image: url(../assets/background/bg-dashboard.png);
}
.container {
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

header {
  justify-content: space-between;
}
.nama-user {
  background-image: url(../assets/board/papan-nama.png);
}


.list-level {
  background-image: url(../assets/board/papan-materi.png);
  width: 360px;
  height: 700px;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
  gap: 23px;
}
.list-level a {
  width: 250px;
  height: 50px;
}
