body {
  background-image: url(../../assets/background/bg-dashboard.png);
}
.container {
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nama-user {
  background-image: url(../../assets/board/papan-nama.png);
  width: 250px;
  height: 100px;
  background-size: contain;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
  color: #f5d38e;
  font-size: 20px;
}
.nama-user p {
  width: 72%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrap-input-code {
  background-image: url(../../assets/board/papan-input-kode.png);
  width: 360px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 145px;
}
.wrap-input-code input {
  border: 2px solid #934600;
  padding: 5px;
  font-size: 20px;
  background-color: #c97b147d;
  border-radius: 20px 17px;
  width: 180px;
  text-decoration: underline dotted #934600;
  text-align: center;
}
.wrap-input-code input:focus {
  outline: none;
}

button {
  background: transparent;
  border: none;
  margin-top: 20px;
}
button:active {
  transform: scale(1.5);
  transition: all 2s;
}
button img {
  width: 150px;
}
