body {
  background-image: url(../../assets/background/bg-dashboard.png);
}
.container {
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nama-user {
  background-image: url(../../assets/board/papan-nama.png);
  width: 250px;
  height: 100px;
  background-size: contain;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
  color: #f5d38e;
  font-size: 20px;
}
.nama-user p {
  width: 72%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrap-kelas {
  background-image: url(../../assets/board/papan-nama-dan-list.png);
  width: 360px;
  height: 700px;
  background-size: cover;
  transform: translateY(-20px);
}
.papan-nama-kelas {
  height: 120px;
  margin-top: 90px;
}
.papan-nama-kelas .nama-kelas {
  width: 220px;
  text-align: center;
  border-bottom: 2px dashed;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 50px;
}
.papan-nama-kelas div {
  margin-top: 60px;
  margin-left: 15px;
}
.papan-nama-kelas div span{
  margin-inline: 25px;
}

.list-peserta {
  display: flex;
}
.btn-peta {
  display: flex;
  align-items: flex-end;
  transform: translate(20px, 70px);
  cursor: pointer;
}
.btn-peta img {
  transition: all 0.5s;
  width: 100px;
}
.overlay{
  width: 100%;
  height: 150%;
  background-color: #00000046;
  position: absolute;
  top: -100px;
  left: 0;
  display: none;
}


.table-peserta {
  margin-top: 60px;
  margin-left: 80px;
  height: 340px;
  overflow-y: auto;
  scroll-snap-type: y mandatory; 
}
.table-peserta::-webkit-scrollbar {
  display: none;
}
.baris-peserta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  padding: 15px 0 ;
  scroll-snap-align: start;
}
.baris-peserta span:first-child {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
.baris-peserta span:last-child {
  border: 1px solid;
  padding-inline: 5px;
}

.single-span{
  border: none !important;
  width: 100% !important;
  text-align: center;
}