body {
  background-image: url(../../../assets/background/bg-result.gif);
}
.container {
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

header {
  justify-content: flex-end;
}
.nama-user {
  background-image: url(../../../assets/board/papan-nama.png);
}


.wrap-result {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap-result p {
  font-size: 20px;
  color: #f4d8ae;
}
.wrap-result img {
  width: 100px;
  margin-top: 20px;
}

.wrap-result div {
  margin-top: 10px;
  display: flex;
  gap: 100px;
  margin-left: 40px;
}
.wrap-result span {
  font-size: 40px;
  color: #8a3a13;
}

a{
    background: transparent;
    border: none;
    position: absolute;
    transform: translate(135px, 5px);
}
a img{
    width: 50px !important;
}