* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100vh;
}
body {
  background-image: url(../../assets/image/bg-menu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
form{
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 300px;
  transform: translateY(-1000px);
}
.wrap-peran {
  background-image: url(../../assets/image/papan-menu.png);
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.wrap-peran input {
  display: none;
}
.wrap-peran label img {
  width: 230px;
}
.wrap-peran label:nth-child(2) {
  margin-top: 10px;
  animation: slideDaftar 1s forwards;
}
.wrap-peran label:last-child {
  animation: slideMasuk 1s forwards;
}

@keyframes slideDaftar {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideMasuk {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
  }
}

.wrap-input-data{
  background-image: url(../../assets/image/papan-input-mhs.png);
  width: 500px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: blue; */
  gap: 85px;
}
.wrap-input-data input{
  border-radius: 50px;
  padding: 20px;
  width: 350px;
  font-size: 30px;
  background-color: #a6672c;
  border: 7px solid #f5ca95;
  box-shadow: inset 5px 5px 5px #684524;
  color: #f5d38e;
  text-shadow:
    1px 0 #f5d38e,
    -1px 0 #f5d38e,
    0 1px #f5d38e,
    0 -1px #f5d38e;
}
.wrap-input-data input:focus{
  outline: none;
}
.wrap-input-data input:first-child{
  margin-top: 305px;
}
.wrap-input-data img{
  width: 250px;
}
@keyframes onclick {
  to {
    transform: translateY(-20px) scale(1.2);
  }
}
