* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100vh;
}
body {
  background-image: url(../assets/image/bg-index.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
    background-image: url(../assets/image/papan-menu2.png);
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.wrap a img{
    /* background-color: blue; */
    width: 220px;
}

.container a:first-child{
    margin-top: 10px;
    margin-left: 15px;
    animation: slideDaftar 1s forwards;
}
.container a:last-child{
    animation: slideMasuk 1s forwards;
}

@keyframes slideDaftar {
    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slideMasuk {
    from{
        transform: translateX(200px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes onclick {
    to{
        transform: translateY(-20px) scale(1.2);
    }
} 