body {
  background-image: url(../assets/background/bg-menu.gif);
}
.container {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.coconut-tree img:first-child {
  animation: slideDaftar 1s forwards;
}
.coconut-tree img:last-child {
  animation: slideMasuk 1s forwards;
}

.wrap {
  transform: translateY(-200px);
  background-image: url(../assets/board/papan-menu.png);
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: hidden;
}
.wrap a img {
  width: 190px;
}

.container a:first-child {
  margin-top: 10px;
  margin-left: 15px;
  animation: slideDaftar 1s forwards;
}
.container a:last-child {
  animation: slideMasuk 1s forwards;
}

@keyframes slideDaftar {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideMasuk {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes onclick {
  to {
    transform: translateY(-20px) scale(1.2);
  }
}
@keyframes back1 {
  to {
    transform: translateX(-200px);
  }
}
@keyframes back2 {
  to {
    transform: translateX(200px);
  }
}
